---
import { siteConfig } from "config";

const { menu } = siteConfig;
const currentPath = Astro.url.pathname;
---

<nav class="flex flex-col gap-1">
  {
    menu?.map((item) => (
      <a
        href={item.href}
        class:list={[
          "px-3 py-3 flex items-center gap-5 rounded-lg text-#222933 dark:text-#88898d hover:bg-selected",
          currentPath === item.href ||
          (item.href !== "/" && currentPath.startsWith(item.href))
            ? "dark:text-#f2f2f2 bg-selected"
            : "",
        ]}
      >
        <div
          class:list={[
            currentPath === item.href ||
            (item.href !== "/" && currentPath.startsWith(item.href))
              ? item.icon?.selected
              : item.icon?.default,
            "w-5",
          ]}
        />
        <h2>{item.name}</h2>
      </a>
    ))
  }
</nav>
