---
import BaseLayout from "@layouts/BaseLayout.astro";
import { siteConfig } from "config";
---

<BaseLayout title={siteConfig.title} description={siteConfig.description}>
  <h1>Astro</h1>
</BaseLayout>
