---
import Hero from '@components/Hero.astro'
import LatestPosts from '@components/LatestPosts.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { SITE } from 'config'
---

<BaseLayout 
  title={SITE.title}
  description={SITE.description || ""}
>
  <div class="space-y-24">
    <Hero />
    <LatestPosts />
  </div>
</BaseLayout>
