---
import Intro from '@components/Intro.astro'
import Layout from '../layouts/Layout.astro'
import LatestPosts from '@components/LatestPosts.astro'
import { SITE } from 'config'
---

<Layout title={SITE.title} description={SITE.description || ""}>
  <div class="space-y-8">
    <Intro />
    <LatestPosts />
  </div>
</Layout>
