---
import Hero from '@components/Hero.astro'
import LatestPosts from '@components/LatestPosts.astro'
import ProjectPreview from '@components/ProjectPreview.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { fetchProjects } from '@utils/project'
import { SITE } from 'config'

const projects = await fetchProjects()
---

<BaseLayout 
  title={SITE.title}
  description={SITE.description || ""}
>
  <div class="space-y-24">
    <Hero />
    <LatestPosts />

    <section>
      <div class="flex items-center justify-between mb-8">
        <h2 class="heading text-2xl">业余项目</h2>
        <a 
          href={`/projects`}
          class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 themed inline-flex items-center gap-1"
        >
          查看更多
          <div class="i-carbon-arrow-right" />
        </a>
      </div>
      <div class="grid gap-8 md:grid-cols-2">
        {projects.map(project => (
          <ProjectPreview project={project} />
        ))}
      </div>
    </section>
  </div>
</BaseLayout>
