---
import { MENUS } from 'config'
import MenuItem from './MenuItem.astro'

const currentPath = Astro.url.pathname
---

<nav class="flex flex-col space-y-1">
  {MENUS.map((item) => <MenuItem {...item} />)}
</nav>
