---
import { SITE } from 'config'
import SocialLinks from './SocialLinks.astro'

const currentYear = new Date().getFullYear()
---

<footer class="mt-32 pb-16 text-sm text-gray-500 dark:text-gray-400">
  <div class="flex flex-col md:flex-row justify-between items-center gap-4">
    <p>&copy; {currentYear} {SITE.author.name}. All rights reserved.</p>
    <SocialLinks />
  </div>
</footer>
