---

---

<div class="flex flex-col gap-2">
  <h1 class="flex gap-2 text-2xl font-medium lg:text-3xl">
    你好，我是 softkern。
  </h1>
  <ul
    class="ml-5 flex list-disc flex-col gap-1 text-neutral-700 dark:text-neutral-400 lg:flex-row lg:gap-8"
  >
    <li>在职算法工程师</li>
    <li>业余全站开发者</li>
    <li>喜欢研究新技术和科技产品</li>
  </ul>
</div>
