---
import type { HeadingProps } from './TableOfContents.astro'

type Props = HeadingProps

const { depth, slug, subheadings, text } = Astro.props
---

<li class={`${depth <= 2 ? '' : 'ms-2'}`}>
    <a href={'#' + slug} transition:animate="fade" class={`pl-2 decoration-none transition-all font-350 hover:b-l-4 hover:b-l-[black] dark:hover:b-l-[white] hover:2xl:b-0 hover:2xl:text-black dark:hover:2xl:text-white ${depth <= 2 ? 'mt-2' : 'mt-1 text-sm'}`}>
        { text }
    </a>
    {
        subheadings.length > 0 && (
            <ul>
                {subheadings.map((subheading) => (
                    <Astro.self {...subheading} />
                ))}
            </ul>
        )
    }
</li>
