---
import type { HeadingProps } from './TableOfContents.astro'

type Props = HeadingProps

const { depth, slug, subheadings, text } = Astro.props
---

<li class={`${depth <= 2 ? '' : 'ms-2'}`}>
    { text && 
      <a href={'#' + slug} transition:animate="fade" 
        class:list={[
          "text-gray-600 dark:text-gray-400 hover:text-primary-500 dark:hover:text-primary-400",
          'pl-2 decoration-none font-350',
        ]}
      >
        { text }
      </a>
    }
    {
        subheadings.length > 0 && (
            <ul>
                {subheadings.map((subheading) => (
                    <Astro.self {...subheading} />
                ))}
            </ul>
        )
    }
</li>
