---
import BackToTop from '@components/BackToTop.astro'
import BaseHead, { type HeadInfo } from '@components/BaseHead.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import '@styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import { SITE } from 'config'

type Props = HeadInfo

const { ...head } = Astro.props
---

<html lang="zh-CN">
	<head>
    <BaseHead {...head} />
    <ViewTransitions />
	</head>
	<body class="font-sans bg-base color-base max-w-screen-md min-h-screen mx-auto px-4 py-8 antialiased scroll-smooth">
    <Header />
    <main>
      <slot />
    </main>
    
    <Footer />
    <BackToTop />
    {
      SITE.umami &&
      <script defer src={SITE.umami?.url} data-website-id={SITE.umami?.website_id}></script>
    }
  </body>
</html>
