---
import BaseHead, { type HeadProps } from "@components/layout/BaseHead.astro";
import Sidebar from "@components/layout/Sidebar.astro";
import { ClientRouter } from "astro:transitions";

type Props = HeadProps;

const headProps = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...headProps} />
    <ClientRouter />
  </head>
  <body class="bg-base color-base max-w-7xl mx-auto py-8 px-4 flex">
    <Sidebar />
    <main class="flex-1">
      <slot />
    </main>
  </body>
</html>
