---
import { ClientRouter } from 'astro:transitions'
import Header from '@/components/sections/Header.astro'
import '@/styles/global.css'
import Footer from '@/components/sections/Footer.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
    <ClientRouter />
	</head>
	<body class="font-sans min-h-screen flex flex-col bg-background text-foreground antialiased">
    <Header />
    <main class="flex-1">
      <div class="mx-auto flex flex-col w-full max-w-5xl flex-1 gap-6 px-4 py-4 md:px-6 lg:py-8">
        <slot />
      </div>
    </main>
    <Footer />
	</body>
</html>
